.kendoGrid{
    width: 500px;
    font-size: 12px
}
.k-grid, .k-grid *   { 
    border: 0 !important;
}
.gridInform{
    margin: 5px 20px 25px 20px;
    color: #02536e;
    width: 460px;
    display: flex;
    justify-content: space-between;
}
.kendo{
    border: 3px solid #02536e;
    width: 520px;
    border-radius: 15px;
    padding-left: 15px;
    padding-bottom: 20px
}
.k-grid-content table tbody tr td{
    border-right: 5px solid white !important;
    line-height: 30px !important
}
th:first-child{
    width: 120px
}
