.kendoGrid{
    width: 425px;
    font-size: 10px;
    font-weight: 400
}
.k-grid, .k-grid *   { 
    border: 0 !important;
}
.gridInform{
    margin: 5px 20px 10px 20px;
    color: #02536e;
    width: 360px;
    display: flex;
    justify-content: space-between;
}
.gridInform h3{
    font-size: 16px
}
.kendo{
    border: 1px solid #02536e;
    width: 430px;
    border-radius: 15px;
    padding-left: 7px;
    padding-bottom: 10px
}
.k-grid table tbody tr td{
    border-right: 5px solid white !important;
    line-height: 20px !important
}
th:first-child{
    width: 120px
}

